@use "variables" as *;

@mixin mq($bp) {
	@media (min-width: $bp) {
		@content;
	}
}

@mixin container($max: $container) {
	width: min(calc(100% - 2.5rem), $max);
	margin-inline: auto;

	@include mq($bp-md) {
		width: min(calc(100% - 5rem), $max);
	}
}

@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
